@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 27 0% 95%;
		--foreground: 27 0% 10%;
		--card: 27 0% 90%;
		--card-foreground: 27 0% 15%;
		--popover: 27 0% 95%;
		--popover-foreground: 27 95% 10%;
		--primary: 27 97.9% 62.7%;
		--primary-foreground: 0 0% 0%;
		--secondary: 27 10% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: -11 10% 85%;
		--muted-foreground: 27 0% 40%;
		--accent: -11 10% 80%;
		--accent-foreground: 27 0% 15%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 27 0% 90%;
		--border: 0 0% 84.71%;
		--input: 0 0% 94.12%;
		--ring: 24.8 79.79% 63.14%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--background: 0 0% 6.67%;
		--foreground: 0 0% 93.33%;
		--muted: 0 0% 13.33%;
		--muted-foreground: 0 0% 70.59%;
		--popover: 0 0% 9.8%;
		--popover-foreground: 0 0% 93.33%;
		--card: 0 0% 9.8%;
		--card-foreground: 0 0% 93.33%;
		--border: 44 14% 11%;
		--input: 0 0% 28.24%;
		--primary: 22.93 92.59% 52.35%;
		--primary-foreground: 29.51 0% 100%;
		--secondary: 28.5 64.52% 12.16%;
		--secondary-foreground: 29.51 100% 88.04%;
		--accent: 0 0% 16.47%;
		--accent-foreground: 0 0% 93.33%;
		--destructive: 10.16 77.87% 53.92%;
		--destructive-foreground: 0 0% 100%;
		--ring: 23.11 59.8% 40%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.lucide * {
	vector-effect: non-scaling-stroke;
}
